{% extends 'index.html' %}
{% load static %}
{% load i18n%}
{% block page %}

<div id="d-content">

    <section style="padding-top:150px;" class="d-section-0 d-dark d-animbox" id="d-section-0">
        <div class="mask1"></div>
        <div class="d-moon d-moon-a2q d-hide-pc"><b></b><i></i>
            <div></div>
        </div>
        <div class="d-grid">
            <div class="d-row">
                <div class="d-col d-col-4 d-col-xs-12">
                    <div class="h2 d-ttu d-animate d-fade">{{ fourthline.title }}
                    </div>
                    <div class="d-circle d-circle-0 d-ttu d-animate d-fade">
                        <span class="d-crcl-sm-0"><b class="d-animate d-fade d-delay-2"><i
                                    class="d-hover">{{ fifthline.title }}</i></b></span>
                        <span class="d-crcl-sm-1"><b class="d-animate d-fade d-delay-2"><i
                                class="d-hover">{{ sixthline.title }}</i></b></span>
                        <span class="d-crcl-sm-2"><b class="d-animate d-fade d-delay-2"><i
                                class="d-hover">{{ seventhline.title }}</i></b></span>
                        <span class="d-crcl-sm-3"><b class="d-animate d-fade d-delay-2"><i

                                class="d-hover">{{ eightline.title }}</i></b></span>
                        <span class="d-crcl-sm-1" style="transform: translate(83px, -130px); width: 25px; height: 25px"><b class="d-animate d-fade d-delay-2"><i class="d-hover">{{ nineteenthline.title }}</i></b></span>
                        <span class="d-crcl-sm-0" style="transform: translate(-156px, -15px)"><b class="d-animate d-fade d-delay-2"><i class="d-hover">{{ twentythline.title }}</i></b></span>
                        <span class="d-crcl-sm-2" style="transform: translate(143px, 66px)"><b class="d-animate d-fade d-delay-2"><i class="d-hover">{{ twentyonethline.title }}</i></b></span>

                                </i></b></span>
                        <span class="d-crcl-sm-1" style="transform: translate(83px, -130px); width: 25px; height: 25px"><b class="d-animate d-fade d-delay-2"><i class="d-hover"></i></b></span>
                        <span class="d-crcl-sm-0" style="transform: translate(-156px, -15px)"><b class="d-animate d-fade d-delay-2"><i class="d-hover"></i></b></span>
                        <span class="d-crcl-sm-2" style="transform: translate(143px, 66px)"><b class="d-animate d-fade d-delay-2"><i class="d-hover"></i></b></span>
                    </div>
                    <div class="d-circle d-circle-1 d-animate d-fade"></div>
                </div>
            </div>

    </section>

    <section class="d-section-1 d-animbox" id="d-section-1">
        <div class="d-grid">
            <div class="d-row">
                <div class="d-col d-col-4 d-col-xs-12">
                    <div class="h1 d-ttu d-white d-animate d-rise"></div>
                    <div class="d-section-descr d-dark d-xl d-animate d-fade">{% trans 'Лидер большинства профессиональных и рейтингов СМИ Кыргызстана' %}<br/>
                    </div>
                    <nav class="d-nav-view d-blue h3 d-ttu d-animate d-fade">
                        <ul>
                            <li><a href=""
                                   onclick="trackOutboundLink('http://www.aic.ru/showreel/'); return false;"
                                   target="_blank" class="d-hover"><i class="fa fa-external-link d-hover"></i>{% trans 'Подробнее' %}</a>
                            </li>
                            <li><a href="http://www.aic.ru/work/site/"
                                   onclick="trackOutboundLink('http://www.aic.ru/work/site/'); return false;"
                                   target="_blank" class="d-hover"><i
                                    class="fa fa-external-link d-hover"></i>{% trans 'Академия' %}</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="d-col d-col-8 d-col-xs-12 d-white d-xl">
                    <div class='d-swipe-note d-hide-pc d-cb'>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55px" height="37px"
                             viewBox="0 0 45.002 30" enable-background="new 0 0 45.002 30" xml:space="preserve"><switch>
                                    <g i:extraneous="self">
                                        <g>
                                            <polygon
                                                    points="4,20 6.562,20 3.361,16 10,16 10,14 3.361,14 6.562,10 4,10 0,15.001"/>
                                            <g>
                                                <path
                                                        d="M16.002,16c-0.553,0-1-0.448-1-1c0-8.271,6.729-15,15-15s15,6.729,15,14.999c0,0.552-0.449,1-1,1c-0.553,0-1-0.448-1-1 C43.002,7.831,37.17,2,30.002,2s-13,5.831-13,13C17.002,15.552,16.553,16,16.002,16"/>
                                                <path
                                                        d="M29.982,19.989c-6.018,0-5.127-7.311-5.127-7.311s1.027-2.315,5.127-2.315c4.102,0,5.17,2.315,5.17,2.315 S35.998,19.989,29.982,19.989 M30.002,8c-6.285,0-8.115,5.679-8.115,19.004v0.6C24.229,29.114,27.008,30,30.002,30 c2.992,0,5.773-0.887,8.113-2.396v-0.6C38.115,13.679,36.285,8,30.002,8"/>
                                            </g>
                                        </g>
                                    </g>
                                </switch></svg>
                    </div>
                    <div class="d-feats-wrap">
                        <div class="d-feats d-cb d-animate d-fade">
                            <article>
                                <div class="d-count d-blue d-ha d-font d-counted" data-count="{{statistic_1.statistic}}">0</div>
                                <div class="d-count-descr">{{statistic_1.title}}</div>
                                <div class="d-feat-pos d-feat-pos-blue d-ha d-hb">
                                    <div class="d-ha d-font"><span class="d-pr d-ha d-hb d-counted"
                                                                   data-count="{{statistic_1.lower}}">0</span></div>
                                </div>
                                <div class="d-feat-pos-descr">{{statistic_1.comments}}
                                </div>
                            </article>
                            <article>
                                <div class="d-count d-blue d-font d-counted" data-count="{{statistic_2.statistic}}">0</div>
                                <div class="d-count-descr">{{statistic_2.title}}</div>
                                <div class="d-feat-pos d-feat-pos-blue d-ha d-hb">
                                    <div class="d-ha d-font"><span class="d-pr d-ha d-hb d-counted"
                                                                   data-count="{{statistic_2.lower}}">0</span></div>
                                </div>
                                <div class="d-feat-pos-descr">{{statistic_2.comments}}
                                </div>
                            </article>
                            <article>
                                <div class="d-count d-blue d-font d-counted" data-count="{{statistic_3.statistic}}">0</div>
                                <div class="d-count-descr">{{statistic_3.title}}</div>
                                <div class="d-feat-pos d-feat-pos-pink d-ha d-hb">
                                    <div class="d-ha d-font"><span class="d-pr d-ha d-hb d-counted"
                                                                   data-count="{{statistic_3.lower}}">0</span></div>
                                </div>
                                <div class="d-feat-pos-descr">{{statistic_3.comments}}
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-bgd d-bgd-inv d-bgd-2 d-hb"></div>
    </section>

    <section style="display:none;" class="d-section-2 d-dark d-animbox" id="d-section-2">
        <div class="d-moon d-moon-q2a d-hide-pc"><b></b><i></i>
            <div></div>
        </div>
        <div class="d-grid">
            <div class="d-row">
                <div class="d-col d-col-9 d-hide-xs"></div>
                <div class="d-col d-col-3 d-col-xs-12">
                    <div class="h2 d-ttu d-fade d-animate">гарантия<br/>качество статей<br/>поддержка<br/>и
                        развитие
                    </div>
                    <div class="d-circle d-circle-0 d-animate d-fade">
                        <div class="d-crcl-lg-3 d-pink d-s d-ttu d-animate d-fade d-delay-2 test"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="d-stars d-stars-2"></div>
    </section>

    <section style="display:none;"  class="d-section-3 d-animbox" id="d-section-3" style="display: none">
        <div class="d-grid">
            <div class="d-row">
                <div class="d-col d-col-4 d-col-xs-12">
                    <div class="h1 d-ttu d-white d-rise d-animate">QSOFT</div>
                    <div class="d-section-descr d-dark d-xl d-fade d-animate">Лидер в&nbsp;разработке<br/>интегрированных<br/>и
                        высоконагруженных<br/>интернет-решений
                    </div>
                    <nav class="d-nav-view d-pink h3 d-ttu d-animate d-fade">
                        <ul>
                            <li><a href="../qsoft.ru/presentation/Presentation_full.html"
                                   onclick="trackOutboundLink('../qsoft.ru/presentation/Presentation_full.html'); return false;"
                                   target="_blank" class="d-hover"><i class="fa fa-external-link d-hover"></i>презентация</a>
                            </li>
                            <li><a href="https://qsoft.ru/project/"
                                   onclick="trackOutboundLink('https://qsoft.ru/project/'); return false;"
                                   target="_blank" class="d-hover"><i class="fa fa-external-link d-hover"></i>портфолио</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="d-col d-col-8 d-col-xs-12 d-white d-xl">
                    <div class='d-swipe-note d-hide-pc d-cb'>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55px" height="37px"
                             viewBox="0 0 45.002 30" enable-background="new 0 0 45.002 30" xml:space="preserve"><switch>
                                    <g i:extraneous="self">
                                        <g>
                                            <polygon
                                                    points="4,20 6.562,20 3.361,16 10,16 10,14 3.361,14 6.562,10 4,10 0,15.001"/>
                                            <g>
                                                <path
                                                        d="M16.002,16c-0.553,0-1-0.448-1-1c0-8.271,6.729-15,15-15s15,6.729,15,14.999c0,0.552-0.449,1-1,1c-0.553,0-1-0.448-1-1 C43.002,7.831,37.17,2,30.002,2s-13,5.831-13,13C17.002,15.552,16.553,16,16.002,16"/>
                                                <path
                                                        d="M29.982,19.989c-6.018,0-5.127-7.311-5.127-7.311s1.027-2.315,5.127-2.315c4.102,0,5.17,2.315,5.17,2.315 S35.998,19.989,29.982,19.989 M30.002,8c-6.285,0-8.115,5.679-8.115,19.004v0.6C24.229,29.114,27.008,30,30.002,30 c2.992,0,5.773-0.887,8.113-2.396v-0.6C38.115,13.679,36.285,8,30.002,8"/>
                                            </g>
                                        </g>
                                    </g>
                                </switch></svg>
                        <div>Смахните пальцем влево, чтобы узнать больше</div>
                    </div>
                    <div class="d-feats-wrap">
                        <div class="d-feats d-cb d-animate d-fade">
                            <article>
                                <div class="d-count d-pink d-font d-counted" data-count="80">0</div>
                                <div class="d-count-descr">сотрудников</div>
                                <div class="d-feat-pos d-feat-pos-pink d-ha d-hb">
                                    <div class="d-ha d-font"><span class="d-pr d-ha d-hb d-counted"
                                                                   data-count="1">0</span></div>
                                </div>
                                <div class="d-feat-pos-descr">Лучшее в&nbsp;России портфолио крупных
                                    интернет-магазинов
                                </div>
                            </article>
                            <article>
                                <div class="d-count d-pink d-font d-counted" data-count="10">0</div>
                                <div class="d-count-descr">лет опыта</div>
                                <div class="d-feat-pos d-feat-pos-pink d-ha d-hb">
                                    <div class="d-ha d-font"><span class="d-pr d-ha d-hb d-counted"
                                                                   data-count="2">0</span></div>
                                </div>
                                <div class="d-feat-pos-descr">Один из&nbsp;опытнейших в&nbsp;России разработчиков
                                    корпоративных порталов
                                </div>
                            </article>
                            <article>
                                <div class="d-count d-pink d-ha d-font d-counted" data-count="100">0</div>
                                <div class="d-count-descr">реализованных<br/>проектов</div>
                                <div class="d-feat-pos d-feat-pos-pink d-ha d-hb">
                                    <div class="d-ha d-font"><span class="d-pr d-ha d-hb d-counted"
                                                                   data-count="3">0</span></div>
                                </div>
                                <div class="d-feat-pos-descr">Входит в&nbsp;Top-10 Saas провайдеров России по&nbsp;версии
                                    CNEWS
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-bgd d-bgd-3 d-hb"></div>
    </section>

    <section style="display:none;" class="d-section-4 d-dark d-animbox" id="d-section-4">
        <div class="d-grid">
            <div class="d-row">
                <div class="d-col d-col-12">
                    <div class="d-circle d-circle-bg d-circle-0 d-hb"></div>
                    <div class="d-circle d-circle-bg d-circle-1 d-hb"></div>
                    <div class="d-moon d-moon-aq d-hide-pc"><b></b><i></i>
                        <div></div>
                    </div>
                    <div class="h2 d-ttu d-animate d-fade">{% trans 'максимально эффективное управление статьями' %}
                    </div>
                    <div class="h1 d-ttu d-white d-rise d-animate"><br/><span
                            class="d-blue d-ha d-arr d-arr-pink">epos</span><span
                            class="d-pink d-hb d-arr d-arr-blue">manas</span></div>
                    <div class='d-swipe-note d-hide-pc d-cb d-xl'>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55px" height="37px"
                             viewBox="0 0 45.002 30" enable-background="new 0 0 45.002 30" xml:space="preserve"><switch>
                                    <g i:extraneous="self">
                                        <g>
                                            <polygon
                                                    points="4,20 6.562,20 3.361,16 10,16 10,14 3.361,14 6.562,10 4,10 0,15.001"/>
                                            <g>
                                                <path
                                                        d="M16.002,16c-0.553,0-1-0.448-1-1c0-8.271,6.729-15,15-15s15,6.729,15,14.999c0,0.552-0.449,1-1,1c-0.553,0-1-0.448-1-1 C43.002,7.831,37.17,2,30.002,2s-13,5.831-13,13C17.002,15.552,16.553,16,16.002,16"/>
                                                <path
                                                        d="M29.982,19.989c-6.018,0-5.127-7.311-5.127-7.311s1.027-2.315,5.127-2.315c4.102,0,5.17,2.315,5.17,2.315 S35.998,19.989,29.982,19.989 M30.002,8c-6.285,0-8.115,5.679-8.115,19.004v0.6C24.229,29.114,27.008,30,30.002,30 c2.992,0,5.773-0.887,8.113-2.396v-0.6C38.115,13.679,36.285,8,30.002,8"/>
                                            </g>
                                        </g>
                                    </g>
                                </switch></svg>
                        <div>Смахните пальцем влево, чтобы узнать больше</div>
                    </div>
                    <div class="d-scroll-wrap">
                        <div class="d-scroll">
                            <div class="d-cycle d-ttu d-xs">
                                <div class="d-cycle-i d-cycle-a d-animate d-rise-l d-delay-1">
                                        <span class="d-hb d-animate d-fade d-delay-2"><i
                                                class="d-hover"><br/></i></span>
                                    <span class="d-hb d-animate d-fade d-delay-2"><i
                                            class="d-hover"><br/></i></span>
                                    <span class="d-hb d-animate d-fade d-delay-2"><i class="d-hover"></i></span>
                                    <span class="d-hb d-animate d-fade d-delay-2"><i
                                            class="d-hover"></i></span>
                                    <span class="d-hb d-animate d-fade d-delay-2"><i
                                            class="d-hover"><br/></i></span>
                                    <div class="d-blue d-s d-ttu d-animate d-fade d-delay-2"></div>
                                </div>
                                <div class="d-cycle-m d-animate d-fade d-delay-3">
                                    <div class="d-ha d-hb"></div>
                                    <div class="d-ha d-hb"></div>
                                    <div class="d-ha d-hb"></div>
                                    <div class="d-ha d-hb"></div>
                                </div>
                                <div class="d-cycle-i d-cycle-q d-animate d-rise-r d-delay-1">
                                        <span class="d-hb d-animate d-fade d-delay-2"><i
                                                class="d-hover"><br/></i></span>
                                    <span class="d-hb d-animate d-fade d-delay-2"><i
                                            class="d-hover"><br/></i></span>
                                    <span class="d-hb d-animate d-fade d-delay-2"><i
                                            class="d-hover"></i></span>
                                    <span class="d-hb d-animate d-fade d-delay-2"><i
                                            class="d-hover"></i></span>
                                    <span class="d-hb d-animate d-fade d-delay-2"><i class="d-hover"><br/></i></span>
                                    <span class="d-hb d-animate d-fade d-delay-2"><i
                                            class="d-hover"><br/></i></span>
                                    <div class="d-pink d-s d-ttu d-animate d-fade d-delay-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-stars d-stars-3"></div>
    </section>

    <section style="display:none;"  class="d-section-6 d-dark d-animbox" id="d-section-6" style="display: none">
        <div class="d-grid">
            <div class="d-row">
                <div class="d-moon d-moon-a d-hide-pc"><b></b><i></i>
                    <div></div>
                </div>
                <div class="d-col d-col-12">
                    <div class="h1 d-ttu d-white d-animate d-rise">Технологии<br/>ведения проектов</div>
                    <div class="h2 h0 d-ib d-ttu d-animate d-fade d-delay-1">Рабочая группа специалистов на
                        проекте
                    </div>
                    <nav class="d-nav-charts d-nav-tabs d-ib h3 d-ttu d-animate d-fade d-delay-1">
                        <ul>
                            <li class="d-current">aic</li>
                            <li>qsoft</li>
                        </ul>
                    </nav>
                </div>
                <div class="d-col d-col-4 d-col-xs-12">
                    <div class="d-section-descr d-dark d-xl d-animate d-fade">Среднее соотношение<br/>общего и&nbsp;затраченного<br/>времени
                        на&nbsp;специалистов<br/>на&nbsp;проекте
                    </div>
                    <div class="d-counter-a d-animate d-fadein">
                        <div class="d-count d-font d-counted2" data-count="684">0</div>
                        <div class="d-count d-fl d-font d-counted2" data-count="1165">0</div>
                        <div class="d-white d-xl">часов</div>
                    </div>
                    <div class="d-counter-q d-animate2 d-fadeout">
                        <div class="d-count d-font d-counted2" data-count="1385">0</div>
                        <div class="d-count d-fl d-font d-counted2" data-count="1750">0</div>
                        <div class="d-white d-xl">часов</div>
                    </div>
                </div>
                <div class="d-ccharts" id="d-ccharts">
                    <div class="d-cchart d-cchart-a d-animate">
                        <nav class="d-nav-employees d-tar d-ttu d-xs d-animate d-fade d-delay-1">
                            <ul>
                                <li><i class="d-hover">Руководитель проекта</i></li>
                                <li><i class="d-hover">Аналитик</i></li>
                                <li><i class="d-hover">Проектировщик</i></li>
                                <li><i class="d-hover">Арт-директор</i></li>
                                <li><i class="d-hover">Дизайнер</i></li>
                            </ul>
                        </nav>
                        <div class="d-cchart-i d-cchart-i-0" id="d-cchart-a-0"></div>
                        <div class="d-cchart-i d-cchart-i-1" id="d-cchart-a-1"></div>
                        <div class="d-cchart-i d-cchart-i-2" id="d-cchart-a-2"></div>
                        <div class="d-cchart-i d-cchart-i-3" id="d-cchart-a-3"></div>
                        <div class="d-cchart-i d-cchart-i-4" id="d-cchart-a-4"></div>
                        <div class="d-cchart-i d-cchart-i-4" id="d-cchart-a-4"></div>
                        <div class="d-cchart-i d-cchart-i-0 d-cchart-i-o" id="d-cchart-a-5"></div>
                        <div class="d-cchart-i d-cchart-i-1 d-cchart-i-o" id="d-cchart-a-6"></div>
                        <div class="d-cchart-i d-cchart-i-2 d-cchart-i-o" id="d-cchart-a-7"></div>
                        <div class="d-cchart-i d-cchart-i-3 d-cchart-i-o" id="d-cchart-a-8"></div>
                        <div class="d-cchart-i d-cchart-i-4 d-cchart-i-o" id="d-cchart-a-9"></div>
                    </div>
                    <div class="d-cchart d-cchart-q d-animate">
                        <nav class="d-nav-employees d-tar d-ttu d-xs d-animate2 d-fade d-delay-1">
                            <ul>
                                <li><i class="d-hover">Системный аналитик</i></li>
                                <li><i class="d-hover">Ведущий программист</i></li>
                                <li><i class="d-hover">Front-end разработчик</i></li>
                                <li><i class="d-hover">Тех. Директор</i></li>
                                <li><i class="d-hover">Системный Архитектор</i></li>
                            </ul>
                        </nav>
                        <div class="d-cchart-i d-cchart-i-0" id="d-cchart-q-0"></div>
                        <div class="d-cchart-i d-cchart-i-1" id="d-cchart-q-1"></div>
                        <div class="d-cchart-i d-cchart-i-2" id="d-cchart-q-2"></div>
                        <div class="d-cchart-i d-cchart-i-3" id="d-cchart-q-3"></div>
                        <div class="d-cchart-i d-cchart-i-4" id="d-cchart-q-4"></div>
                        <div class="d-cchart-i d-cchart-i-0 d-cchart-i-o" id="d-cchart-q-5"></div>
                        <div class="d-cchart-i d-cchart-i-1 d-cchart-i-o" id="d-cchart-q-6"></div>
                        <div class="d-cchart-i d-cchart-i-2 d-cchart-i-o" id="d-cchart-q-7"></div>
                        <div class="d-cchart-i d-cchart-i-3 d-cchart-i-o" id="d-cchart-q-8"></div>
                        <div class="d-cchart-i d-cchart-i-4 d-cchart-i-o" id="d-cchart-q-9"></div>
                    </div>
                </div><!-- /d-ccharts -->
            </div>
        </div>
    </section>

    <section style="display:none;"  class="d-section-7 d-animbox" style="display:none" id="d-section-7">
        <div class="d-grid">
            <div class="d-row">
                <div class="d-col d-col-12">
                </div>
                <div class="d-col d-col-4 d-col-xs-12 d-animate d-fade d-delay-05">
                    <p class="d-l d-ttu d-white">Выделенные рабочие группы</p>
                    Для&nbsp;каждого проекта формируется команда специалистов, способных наилучшим образом
                    обеспечить достижение поставленных целей.
                </div>
                <div class="d-col d-col-4 d-col-xs-12 d-animate d-fade d-delay-1">
                    <p class="d-l d-ttu d-white">Отчетность 24/7</p>
                    Современные инструменты управления проектами дают доступ к&nbsp;отчетной информации в
                    круглосуточном режиме.
                </div>
                <div class="d-col d-col-4 d-col-xs-12 d-animate d-fade d-delay-15">
                    <p class="d-l d-ttu d-white">Agile / T&M методологии</p>
                    Постоянное взаимодействие рабочей группы и&nbsp;команды заказчиков позволяет гибко реагировать
                    на&nbsp;изменения требований в&nbsp;ходе разработки.
                </div>
                <div class="d-col d-col-4 d-hide-xs"></div>
                <div class="d-col d-col-4 d-col-xs-12 d-animate d-fade d-delay-2">
                    <p class="d-l d-ttu d-white">Единый проектный офис</p>
                    Общие для&nbsp;двух компаний стандарты бизнес-процессов обеспечивают эффективность планирования
                    и&nbsp;качество выполнения проектов.
                </div>
                <div class="d-col d-col-4 d-col-xs-12 d-animate d-fade d-delay-25">
                    <p class="d-l d-ttu d-white">Task tracking</p>
                    Для управления задачами и&nbsp;организации совместной работы используются инструменты, дающие
                    контроль за&nbsp;этапами производства.
                </div>
                <div class="d-col d-col-8 d-hide-xs"></div>
                <div class="d-col d-col-4 d-col-xs-12 d-animate d-fade d-delay-3">
                    <p class="d-l d-ttu d-white">SLA</p>
                    Высокое качество оказываемых услуг гарантируется в&nbsp;сервисном контракте.
                </div>
            </div>
        </div>
        <div class="d-bgd d-bgd-5"></div>
        <div class="d-stars d-stars-5"></div>
    </section>

    <section style="display:none;"  class="d-section-8 d-dark d-animbox" id="d-section-8">
        <div class="d-grid">
            <div class="d-row">
                <div class="d-col d-col-12 d-animate d-fade d-delay-05">
                    <div class='d-swipe-note d-hide-pc d-cb d-xl'>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55px" height="37px"
                             viewBox="0 0 45.002 30" enable-background="new 0 0 45.002 30" xml:space="preserve"><switch>
                                    <g i:extraneous="self">
                                        <g>
                                            <polygon
                                                    points="4,20 6.562,20 3.361,16 10,16 10,14 3.361,14 6.562,10 4,10 0,15.001"/>
                                            <g>
                                                <path
                                                        d="M16.002,16c-0.553,0-1-0.448-1-1c0-8.271,6.729-15,15-15s15,6.729,15,14.999c0,0.552-0.449,1-1,1c-0.553,0-1-0.448-1-1 C43.002,7.831,37.17,2,30.002,2s-13,5.831-13,13C17.002,15.552,16.553,16,16.002,16"/>
                                                <path
                                                        d="M29.982,19.989c-6.018,0-5.127-7.311-5.127-7.311s1.027-2.315,5.127-2.315c4.102,0,5.17,2.315,5.17,2.315 S35.998,19.989,29.982,19.989 M30.002,8c-6.285,0-8.115,5.679-8.115,19.004v0.6C24.229,29.114,27.008,30,30.002,30 c2.992,0,5.773-0.887,8.113-2.396v-0.6C38.115,13.679,36.285,8,30.002,8"/>
                                            </g>
                                        </g>
                                    </g>
                                </switch></svg>
                        <div>Смахните пальцем влево, чтобы узнать больше</div>
                    </div>
                    <div class="d-scroll-wrap">
                        <div class="d-scroll">
                            <nav class="d-nav-logos d-nav-tabs h3 d-ttu">
                                <ul>
                                    <li class="d-current" data-tab="d-tab-0">Все</li>
                                        {% for p in category %}
                                    <li data-tab="d-tab-{{p.id}}">{{ p.title}}</li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                {% for c in category%}
                <div class="d-col d-col-11 d-col-xs-12 d-animate d-fade d-delay-05 d-hide-xs">
                    <div class="d-row d-tab-logos d-tab-{{c.id}}">
                        {% for p in c.category_partners.all %}
                        <div class="d-col d-col-4"><img data-src="{{p.image.url}}" width="177"
                                                        height="80%" alt="" title="" class="d-hover lazy"/>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                {% endfor %}

                <div class="d-col d-col-11 d-col-xs-12 d-animate d-fade d-delay-05 d-hide-xs">
                    <div class="d-row d-tab-logos d-tab-0">
                        {% for p in partners %}
                        <div class="d-col d-col-4"><img data-src="{{p.image.url}}" width="177"
                                                        height="80%" alt="" title="" class="d-hover lazy"/>
                        </div>
                        {% endfor %}

                    </div>
                </div>


            </div>
        </div>
        <div class="d-bgd d-bgd-inv d-bgd-6"></div>
        <div class="d-bgd d-bgd-7"></div>
        <div class="d-bgd d-bgd-8"></div>
    </section>
    <section style="display:none;"  class="d-section-9 d-animbox" id="d-section-9">
        <div class="d-grid">
            <div class="d-row">
                <div class="d-col d-col-11 d-col-xs-12">
                    <div class="h1 d-ttu d-tar d-white d-animate d-rise">Мнения<br/>экспертов рынка</div>
                    <div class='d-swipe-note d-hide-pc d-cb d-xl'>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55px" height="37px"
                             viewBox="0 0 45.002 30" enable-background="new 0 0 45.002 30" xml:space="preserve"><switch>
                                    <g i:extraneous="self">
                                        <g>
                                            <polygon
                                                    points="4,20 6.562,20 3.361,16 10,16 10,14 3.361,14 6.562,10 4,10 0,15.001"/>
                                            <g>
                                                <path
                                                        d="M16.002,16c-0.553,0-1-0.448-1-1c0-8.271,6.729-15,15-15s15,6.729,15,14.999c0,0.552-0.449,1-1,1c-0.553,0-1-0.448-1-1 C43.002,7.831,37.17,2,30.002,2s-13,5.831-13,13C17.002,15.552,16.553,16,16.002,16"/>
                                                <path
                                                        d="M29.982,19.989c-6.018,0-5.127-7.311-5.127-7.311s1.027-2.315,5.127-2.315c4.102,0,5.17,2.315,5.17,2.315 S35.998,19.989,29.982,19.989 M30.002,8c-6.285,0-8.115,5.679-8.115,19.004v0.6C24.229,29.114,27.008,30,30.002,30 c2.992,0,5.773-0.887,8.113-2.396v-0.6C38.115,13.679,36.285,8,30.002,8"/>
                                            </g>
                                        </g>
                                    </g>
                                </switch></svg>
                        <div>Смахните пальцем влево, чтобы узнать больше</div>
                    </div>
                </div>
                <div class="d-persons d-animate d-fade">
                    <article class="d-animate d-fade">
                        <div class="d-person-img"><img class="lazy" data-src="{% static 'img/example.jpeg' %}"
                                                       width="248" height="222" alt="" title=""/></div>
                        <div class="d-person-txt">
                            <p class="d-l d-white d-ttu">Сергей Рыжиков<br/><span class="d-blue">Сотрудник<br/></span>
                            </p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.
                        </div>
                    </article>
                    <article class="d-animate d-fade d-delay-05">
                        <div class="d-person-img"><img class="lazy" data-src="{% static 'img/example.jpeg' %}"
                                                       width="248" height="222" alt="" title=""/></div>
                        <div class="d-person-txt">
                            <p class="d-l d-white d-ttu">Андрей Анищенко<br/><span class="d-blue">Сотрудник</span>
                            </p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.
                        </div>
                    </article>
                    <article class="d-animate d-fade d-delay-1">
                        <div class="d-person-img"><img class="lazy" data-src="{% static 'img/example.jpeg' %}"
                                                       width="248" height="222" alt="" title=""/></div>
                        <div class="d-person-txt">
                            <p class="d-l d-white d-ttu">Михаил Токовинин<br/><span class="d-pink">Сотрудник</span>
                            </p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.
                        </div>
                    </article>
                    <article class="d-animate d-fade d-delay-1.5">
                        <div class="d-person-img"><img class="lazy" data-src="{% static 'img/example.jpeg' %}"
                                                       width="248" height="222" alt="" title=""/></div>
                        <div class="d-person-txt">
                            <p class="d-l d-white d-ttu">Анатолий Денисов<br/><span
                                    class="d-blue">Главный редактор<br/>«CMS Magazine»</span></p>
                            В&nbsp;редкой компании на&nbsp;рынке можно найти такое как у альянса AIC и QSOFT
                            сочетание сильнейших дизайн и технологических компетенций.
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="d-bgd d-bgd-9"></div>
    </section>

    <section style="display:none;"  class="d-section-11 d-animbox d-animated" id="d-section-11">
        <div class="d-grid">
            <div class="d-row">
                <div class="d-col d-col-12">
                    <div class="h1 d-ttu d-white d-animate d-rise">Галерея</div>
                </div>
                <div class="d-col d-col-12 video-wrap">
                    <div class="owl-carousel">
                        <div class="item">
                            <img src="{% static 'img/bg0.jpg' %}" alt="slide-image">
                        </div>
                        <div class="item">
                            <img src="{% static 'img/bg0.jpg' %}" alt="slide-image">
                        </div>
                        <div class="item">
                            <img src="{% static 'img/bg0.jpg' %}" alt="slide-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-bgd d-bgd-11"></div>
    </section>
    <section style="display:none;"  class="d-section-10 d-animbox" id="d-section-10">
        <div class="d-grid">
            <div class="d-row">
                <div class="d-col d-col-12">
                    <div class="h1 d-ttu d-white d-rise d-animate">Готовы к&nbsp;сотрудничеству?<br/>Напишите нам
                    </div>
                </div>
                <div class='d-col d-col-12'>
                    <form class="d-frm-contacts d-white" id="form">
                        <input type="file" name="" value="" class="d-hidden" multiple/>
                        <fieldset class="d-frm-contacts-info drop-area">
                            <ul>
                                <li><textarea name="text" rows="3"
                                              placeholder="ВАШ ВОПРОС ИЛИ СООБЩЕНИЕ"></textarea></li>
                                <li class='d-frm-contacts-files d-frm-contacts-uploads d-bsbb d-tac'
                                    id="upload-result" style="display: none"></li>
                                <li class='d-frm-contacts-files d-bsbb d-tac d-hide-xs' id="drop-zone"></li>
                                <script type="text/template" id="upload-init-template">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="513.1 399.6 17 17" enable-background="new 513.1 399.6 17 17"
                                         xml:space="preserve" width="16px" height="16px"><g>
                                                <path
                                                        d="M517.4,410.9c0.2,0,0.3-0.1,0.4-0.2l0,0l5.2-5.2c0.3-0.3,0.6-0.4,1-0.4c0.5,0,0.9,0.4,0.9,1.1c0,0.4-0.2,0.8-0.4,1l-6,6c-0.5,0.5-1.1,0.8-1.6,0.8c-0.6,0-1.2-0.2-1.6-0.7c-0.5-0.5-0.7-1.1-0.7-1.8c0-0.7,0.3-1.3,0.7-1.8l7.5-7.5c1.4-1.4,3.7-1.4,5.1,0c0.7,0.7,1,1.6,1,2.5c0,1-0.4,1.9-1,2.5l-7.8,7.8l0,0c-0.1,0.1-0.2,0.3-0.2,0.4c0,0.4,0.3,0.7,0.7,0.7c0.3,0,0.5-0.2,0.5-0.2l7.8-7.8c0.9-0.9,1.4-2.2,1.4-3.5c0-1.3-0.5-2.5-1.4-3.5c-1.9-1.9-5-1.9-6.9,0l-7.5,7.5c-0.7,0.7-1.1,1.7-1.1,2.7c0,1,0.4,2,1.1,2.7c1.5,1.5,3.6,1.4,5.1-0.1l6-6c0.5-0.5,0.8-1.2,0.8-2v0c0-0.7-0.2-1.3-0.6-1.8c-0.4-0.4-1-0.7-1.6-0.7c-0.8,0-1.4,0.2-2,0.8l-5.1,5.2l0,0c-0.1,0.1-0.2,0.3-0.2,0.4C516.7,410.6,517,410.9,517.4,410.9z"/>
                                            </g></svg>
                                    <span class='d-frm-contacts-txt'><%=text%></span> <a href='javascript:'
                                                                                         class='d-frm-upload'><%=device%></a>
                                </script>
                                <script type="text/template" id="upload-file-template">
                                    <div class="d-upload d-ib">
                                        <progress value="0" max="100"></progress>
                                        <span class="d-frm-contacts-txt"><%=name%></span>
                                        <span class="cancel"><svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                                                      y="0px" viewBox="473.5 432.1 17 17"
                                                                      enable-background="new 473.5 432.1 17 17"
                                                                      xml:space="preserve" width="20px" height="20px"
                                                                      class="d-remove"><path
                                                        d="M485,437.6c-0.2-0.2-0.5-0.2-0.8,0l-2.3,2.3l-2.3-2.3c-0.2-0.2-0.5-0.2-0.8,0c-0.2,0.2-0.2,0.5,0,0.8l2.3,2.3l-2.3,2.3c-0.2,0.2-0.2,0.5,0,0.8c0.2,0.2,0.5,0.2,0.8,0l2.3-2.3l2.3,2.3c0.2,0.2,0.5,0.2,0.8,0c0.2-0.2,0.2-0.5,0-0.8l-2.3-2.3l2.3-2.3C485.2,438.2,485.2,437.8,485,437.6z M482,432.1c-4.7,0-8.5,3.8-8.5,8.5c0,4.7,3.8,8.5,8.5,8.5c4.7,0,8.5-3.8,8.5-8.5S486.7,432.1,482,432.1z M482,448.1c-4.1,0-7.4-3.3-7.4-7.4s3.3-7.4,7.4-7.4c4.1,0,7.4,3.3,7.4,7.4S486.1,448.1,482,448.1z"/></svg></span>
                                    </div>
                                </script>
                                <script type="text/template" id="upload-error-template">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20px"
                                         height="20px" viewBox="473.5 400 17 17"
                                         enable-background="new 473.5 400 17 17" xml:space="preserve"><g>
                                                <path
                                                        d="M482,400c-4.7,0-8.5,3.8-8.5,8.5s3.8,8.5,8.5,8.5c4.7,0,8.5-3.8,8.5-8.5C490.5,403.8,486.7,400,482,400z M482,416c-4.1,0-7.4-3.3-7.4-7.4c0-4.1,3.3-7.4,7.4-7.4c4.1,0,7.4,3.3,7.4,7.4C489.4,412.6,486.1,416,482,416z"/>
                                                <path
                                                        d="M482,406.4c-0.3,0-0.5,0.2-0.5,0.5v3.2v1.6c0,0.3,0.2,0.5,0.5,0.5c0.3,0,0.5-0.2,0.5-0.5v-1.6v-3.2C482.5,406.6,482.3,406.4,482,406.4z"/>
                                                <circle cx="482" cy="405.3" r="0.5"/>
                                            </g></svg>
                                    <span class='d-frm-contacts-txt'><%=text%>, </span> <a href='javascript:'
                                                                                           class='d-frm-upload'>загрузите
                                        другой файл</a>
                                </script>
                            </ul>
                        </fieldset>
                        <fieldset class="d-frm-contacts-data" id="form-fields">
                            <ul>
                                <li class="d-fl"><input type="text" name="name" value="" maxlength="50"
                                                        placeholder="Имя"/></li>
                                <li class="d-fl"><input type="text" name="email" value="" maxlength="50"
                                                        placeholder="E-mail"/></li>
                                <li class="d-fl"><input type="text" name="phone" value="" maxlength="20"
                                                        placeholder="Введите телефон"/></li>
                                <li class="d-fr">
                                    <button type="submit" disabled name="">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="45px"
                                             height="29px" viewBox="473.5 326.1 50 32"
                                             enable-background="new 473.5 326.1 50 32" xml:space="preserve"><path
                                                    d="M473.5,326.1v32h50v-32H473.5z M519.4,328.3l-20.9,17.4l-20.9-17.4H519.4z M475.7,356v-26.5l22.8,19l22.8-19V356L475.7,356L475.7,356z"/></svg>
                                    </button>
                                </li>
                            </ul>
                        </fieldset>
                    </form>
                    <div class='d-frm-contacts-response' id="form-success" style="display: none">
                        <div class='d-ib d-hb'>
                            <div class='h2 d-ttu'>Ваше сообщение отправлено</div>
                            <div class='d-frm-contacts-txt'>Мы ответим вам в&nbsp;течении 10 минут. <a
                                    href="javascript:" class="form-repeat">Отправить еще одно</a>.
                            </div>
                        </div>
                    </div>
                    <div class='d-frm-contacts-response d-frm-contacts-failed' id="form-failure"
                         style="display: none">
                        <div class='d-ib d-hb'>
                            <div class='h2 d-ttu'>Ваше сообщение не отправлено</div>
                            <div class='d-frm-contacts-txt'>Что-то пошло не&nbsp;так :( <a href="javascript:"
                                                                                           class="form-repeat">Попробовать
                                еще раз</a>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div><!-- /#d-content -->

</div><!-- /#d-wrap -->
{% endblock %}